footer {
            background-color: rgb(15, 46, 92);;
            color: #ffffff;
            padding: 50px 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin-top: 200px;
        }

        .footer-container {
            margin: 0 auto;
        }

        /* Estilização das Redes Sociais */
        .social-links {
            margin-bottom: 10px;
        }

        .social-links a {
            color: #fff;
            margin: 0 15px;
            text-decoration: none;
            transition: transform 0.3s, color 0.3s;
            display: inline-block;
            width: 100px;
        }

        /* Efeito de hover (passar o mouse) */
        .social-links a:hover {
            color: #00a8ff;
            transform: translateY(-5px);
        }

        /* Estilização dos Contatos */
        .contact-info {
            margin-bottom: 20px;
        }

        .contact-info p {
            margin: 8px 0;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .contact-info i {
            color: #00a8ff; /* Cor de destaque nos ícones de contato */
        }

        .copy {
            font-size: 0.85rem;
            color: #888;
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px solid #333;
        }