
.footer {

    display: flex;
    padding: 30px;
    margin-top: 100px;
    background-color: rgb(15, 46, 92)
}

.footer h1 {
    font-size: 15px;
    display: flex;


}

.footer-titulo {
    color: antiquewhite;
   
}

.footer-social {
    color: aliceblue;
    font-size: 10px;
    flex-wrap: wrap;
}




.footer-social ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1px;
    height: 1px;
    margin-top: 60px;
        
   


}


.contatos {
    color: aliceblue;
    margin-left: 950px;
    font-size: 13px;
    margin-top: 10px;
    
}

.contatos a {
    color: antiquewhite;
}