*{
    text-decoration: none;
}



.categorias-destinos {
    padding-top: 150px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    

}

.categoria-card {
    width: 200px;
    right: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;


}


.categorias-name {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    color: rgb(15, 46, 92);
    font-weight: 900;
    

}


.porto {
    background: url(../Imagens/banner/porto.jpeg)no-repeat center;
    background-size: cover;


}

.noronha {
    width: 200px;
    height: 200px;

    background: url(../Imagens/banner/noronha.jpeg)no-repeat center;
    background-size: cover;


}


.chile {
    background: url(../Imagens/banner/chile.jpeg)no-repeat center;
    background-size: cover;



}

.argentina {
    background: url(../Imagens/banner/argentina.jpeg)no-repeat center;
    background-size: cover;

}